a {
  text-decoration: none;
  color: $c-white;

  .movieCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10rem;
    justify-content: space-between;
    align-items: flex-start;

    background-color: $c-black;

    .movieInfoContainer {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      margin-top: 0.5rem;
    }

    .movieCoverContainer {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-right: 1rem;
      width: auto;
      height: 5rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 2rem 3rem;
    }
  }
}

a:nth-child(2n) {
  text-decoration: none;

  .movieCard {
    background-color: $c-gray;
  }

  .movieTitle {
    background-color: $c-gray;
  }

  .movieInfo {
    background-color: $c-gray;
  }
}

a:visited {
  color: $c-white;
}
