.movie-hero {
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
  width: auto;
  height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  box-shadow: 0 -150px 100px #100f0f inset;
}
.movieInfoContainer {
  display: flex;
  flex-direction: row;
  background-color: $c-black;

  .movieCoverImg {
    margin: 0.5rem 1rem;
    width: auto;
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 3rem;
  }

  .movieInfoText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .movieTitle {
      padding-top: 1rem;

      background-color: $c-black;
      color: $c-white;
    }

    .movieInfo {
      padding-top: 0.2rem;

      background-color: $c-black;
      color: $c-white;
    }
  }
}

.movieDescription {
  padding-top: 1rem;

  background-color: $c-black;
  color: $c-white;
}

.movieWriters {
  padding-top: 0.5rem;

  background-color: $c-black;
  color: $c-white;
  font-size: 0.8rem;

  h5 {
    color: $c-gray;
    font-size: 0.8rem;
  }
}

.movieActors {
  padding-top: 0.5rem;

  background-color: $c-black;
  color: $c-white;

  h5 {
    color: $c-gray;
    font-size: 0.8rem;
  }
}

.movieReleaseDate {
  padding-top: 0.5rem;

  background-color: $c-black;
  color: $c-white;

  h5 {
    color: $c-gray;
    font-size: 0.8rem;
  }
}
.screensContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 20rem;

  background-color: $c-black;
  color: $c-white;

  .screenImg {
    margin: auto;
    width: auto;
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem 8rem;
  }
}
