<div class='footer'>
  <div class='footerLinks'>
    <a href='/om'>OM OSS</a>
    <a href='/kontakt'>KONTAKT</a>
    <a href='/filmer'>FILMER</a>
    <a href='/events'>EVENT</a>
  </div>
  <p class='adress'>Kino på mars, Marsgatan 1337 ,42 121 31 MUSK HQ</p>
  <ul class='socialMedia'>
    <li class='fab fa-instagram'></li>
    <li class='fab fa-facebook'></li>
    <li class='fab fa-twitter-square'></li>
    <li class='fab fa-youtube'></li>
  </ul>
  <div class='footerDate'>
    <p>{{todaysDate}}</p>
  </div>
</div>