<div class='header'>
  <div class='headerLogo'>
    <a href='/'>
      <h1 style='color: white'>KINO</h1>
      <p style='color: white'>PÅ MARS</p>
    </a>
  </div>
  <nav class='headerNav'>
    <ul class='headerNavMenu'>
      <li><a href='/filmer'>Filmer</a></li>
      <li><a href='/kontakt'>Kontakt</a></li>
      <li><a href='/biljetter'>Biljetter</a></li>
      <li><a href='/om'>Om oss</a></li>
      <li><a href='/events'>Events</a></li>
    </ul>
  </nav>
</div>