<div class='header'>
  <div class='headerLogo'>
    <h1 style='color: white'>KINO</h1>
    <p style='color: white'>PÅ MARS</p>
  </div>
  <nav class='headerNav'>
    <ul class='headerNavMenu'>
      <li><a href='#'>Filmer</a></li>
      <li><a href='#'>Kontakt</a></li>
      <li><a href='#'>Biljetter</a></li>
      <li><a href='#'>Om oss</a></li>
      <li><a href='#'>Events</a></li>
    </ul>
  </nav>
</div>