  {{> header }}
  {{> hero }}
  {{> aboutCovid }}
  {{> comingSoon }}
  <div class='movieCards'>movieCards</div>
  {{> ftMovie }}
  {{> events }}
  {{> footer }}
  <script
    src='https://kit.fontawesome.com/07a95dbd5e.js'
    crossorigin='anonymous'
  ></script>
  <script type='module' src='script.js'></script>