<div
  class='movie-hero'
  style="background-image: url('src/img/banner/banner-4.jpg')"
>
</div>
{{movie.bannerImg}}
<div class='movie-header'>header</div>
<div class='movie-description'>description</div>
<div class='movie-footer'>footer</div>