.movie-hero {
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
  width: auto;
  height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
