@import 'misc/mixins';
@import 'misc/reset';
@import 'misc/values';
@import 'sections/footer';
@import 'sections/header';
@import 'sections/hero';
@import 'sections/comingSoon';
@import 'sections/about';
@import 'sections/movieCards';
@import 'sections/ftMovie';
@import 'sections/events';

//allMovies-propertys
@import 'sections/allMovies/allMovies-header';
@import 'sections/allMovies/allMovies-movies';
@import 'sections/allMovies/allMovies-footer';
@import 'sections/allMovies/allMovies-menu';

//movie-propertys
@import 'sections/movie/movie-header';
@import 'sections/movie/movie-hero';
@import 'sections/movie/movie-description';
@import 'sections/movie/movie-footer';

//reservation-propertys
@import 'sections/reservation/reservationHeader';
@import 'sections/reservation/reservationHero';
@import 'sections/reservation/reservationInfo';
@import 'sections/reservation/reservationSeats';
@import 'sections/reservation/reservationfooter';
